/* Styles for the game board container */
.game-board {
  position: relative;
  width: 250px;
  height: 450px;
  border: 5px solid white;
  border-radius: 5px; /* Adjust based on your preference for rounded corners */
  margin: 20px auto;
  margin-bottom: 100px;
  overflow: hidden; /* Ensure that the content does not overflow from the container */
}

/* Keyframes for the vibrate animation */
@keyframes vibrate {
  from {
    transform: scale(1.01);
  }
  to {
    transform: scale(0.99);
  }
}

/* Class to apply vibration animation */
.vibrating {
  animation: vibrate 0.1s linear infinite alternate;
}

/* Styles for the game canvas */
#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
